<%- include ../partial/header%>
<html>
<head>

      <title>Registration Form</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/stylestaff.css">
</head>

<body>
<br><br>
 <div class="reg">

<form  id="reg" action="/<%=year%>/<%=exam%>/<%=id%>/<%=type%>" method="POST" ><br><br>
<label>Payment Reg No </label>
<input type="text" placeholder="Enter the payment Reg  no" name="Rem" id="name"><br><br>
<label> Voucher No</label>
<input type="text" placeholder="Enter the Voucher no" name="Voucher" id="name"><br><br>
<label>Cheque No</label>
<input type="text" placeholder="Enter the Cheque no" name="cheque" id="name"><br><br>
<label>CBF</label>
<input type="text" placeholder="Enter the CBF"           name="cbf" id="name"><br><br>
<label>Name</label>
<input type="text" placeholder="Enter Name"           name="Exname" id="name"><br><br>
<label>Valid Address</label>
<input type="text" placeholder="Enter Valid Address" name="addr" id="name"><br><br>
<label>Hours</label>
<input type="number" placeholder="Enter the hours(4 or 7)" name="hour" required id="name"><br><br>
<button id="sub" type="submit">submit</button>
</form>
</div>
</body>
</html>
<%- include ../partial/footer%>
